@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(180deg, white, white, white, white, #c9f7ea, #aeeefa);
}

section .imgBox {
    position: absolute;
    left: 5%;
    width: 40%;
    height: 100%;
}

section .imgBox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(225deg, black, white); */
    /* z-index: 1; */
    /* mix-blend-mode: screen; */
}

section .imgBox img {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    object-fit: cover;
}

section .contentBox {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 40%;
    height: 65%;
    border-radius: 0px 80px 0px 80px;
    background-image: linear-gradient(225deg, white, white);
    border-color: aquamarine;
    border-style: solid;
}